.dropdown:hover .dropdown-menu{
  opacity:1;
  visibility:visible;
}

.owl-carousel{
  display:block;
}

.header-body{
  background:url('../img/turbo-banner.jpg') top center no-repeat!important;
  background-size:cover;
}

.inner-page-banner{
  background: url('../img/inner-banner/about-us.jpg') top center no-repeat!important;
  background-size: cover!important;
}

.member-single:hover{
  cursor:pointer;
}

.about-us .navbar,
.car-detail .navbar,
.contact-us .navbar,
.cars .navbar,
.blog .navbar,
.blog-post .navbar,
.checkout .navbar{
  position: sticky;
  top: 0px;
  z-index: 40;
}

.rq-contact-us-grid-block{
  padding: 105px 0 90px;
}

body {
  overflow-x: hidden;
}

.rc-slider-track{
  background-color: #efa80f!important;
}
.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:hover{
  border-color:#efa80f;
}
.rc-slider-handle:active{
  box-shadow:0 0 5px #efa80f;
}
.rq-pricing-slider{
  padding:0px;
}
.rc-slider-tooltip{
  z-index:100!important;
}
.author-img{
  background: url('../img/post-single/single-post-author.jpg') top center no-repeat;
  background-size: cover
}

.booking-details .total-price{
  margin-top:100px;
}

.margin-bottom-40{
  margin-bottom:40px;
}

.margin-bottom-15{
  margin-bottom:15px;
}

.black{
  color:black;
}
