.dropdown:hover .dropdown-menu{
  opacity:1;
  visibility:visible;
}

.owl-carousel{
  display:block;
}

.header-body{
  background:url('../img/turbo-banner.jpg') top center no-repeat!important;
  background-size:cover;
}
