.dropdown:hover .dropdown-menu{
  opacity:1;
  visibility:visible;
}

.owl-carousel{
  display:block;
}

.header-body{
  background:url('../img/turbo-banner.jpg') top center no-repeat!important;
  background-size:cover;
}

.inner-page-banner{
  background: url('../img/inner-banner/about-us.jpg') top center no-repeat!important;
  background-size: cover!important;
}

.member-single:hover{
  cursor:pointer;
}

.about-us .navbar,
.contact-us .navbar{
  position: sticky;
  top: 0px;
  z-index: 40;
}

.rq-contact-us-grid-block{
  padding: 105px 0 90px;
}

body {
  overflow-x: hidden;
}
